<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messages.abdallah.mymessages">
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true">

    </supports-screens>    <!-- Web Service -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Camera -->


    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/m"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/m"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message"
            />
        <activity
            android:name=".Pager_Messages"
            android:label="@string/title_activity_pager__messages"
            />
        <activity
            android:name=".FavMessageActivity"
            android:label="@string/title_activity_fav_message"
            />
        <activity
            android:name=".ActivityText"
            android:label="@string/title_activity_activity_text"
            />
        <activity
            android:name=".EditTextActivity"
            android:label="@string/title_activity_edit_text"
            ></activity>


    </application>

</manifest>